doctype 5
html
    head
        title= title

        // stylesheet
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        div(class="container")
            h1 Not authorized!